{% load static %}
<div class="Selected_File_Dropdown" id="selected-file-dropdown" hidden>
    <button type="button" id="selected-file-cancel">
        <img src="{% static 'images/CancelIcon.png' %}" loading="lazy">
    </button>

    <img id="selected-file-image" hidden>
    <video id="selected-file-video" muted hidden></video>
    <small id="selected-file-name"></small>

    <form action="{% url 'SendFile' active_chat.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="media-input" hidden accept="image/*,video/*">
        <input type="file" name="file" id="document-input" accept=".pdf,.doc,.docx,.txt,.rtf,.xls,.xlsx,.ppt,.pptx" hidden>
        
        <input type="text" name="text" id="attachment-message-input" class="Attachment_Message_Input" placeholder="Write a message for attachment" autocomplete="off">
        <button type="submit">Send</button>
    </form>
</div>

<div class="Polls_Dropdown" id="polls-dropdown" hidden>
    <form action="" method="post">
        {% csrf_token %}

        <h2>Poll's title</h2>
        <input type="text" name="poll_title" placeholder="Write poll's title here">

        <h2>Poll's question</h2>
        <input type="text" name="poll_question" placeholder="Write poll's question here">

        <h2>Poll's answers</h2>

        <button type="submit">Create</button>

    </form>
</div>

<div class="Message_Form_Wrapper">

    <div class="Reply_Bar" id="reply-bar" hidden>
        <div class="Reply_Bar_Copy">
            <strong id="reply-bar-author"></strong>
            <p id="reply-bar-text"></p>
        </div>

        <button type="button" class="Reply_Bar_Cancel" id="reply-bar-cancel">Cancel</button>
    </div>

    <form action="{% url 'ReplyToMessage' active_chat.id %}" method="post" class="Message_Form">
        {% csrf_token %}
        <input type="hidden" name="reply_to_id" id="reply-to-input">
        <input class="Message_Input" type="text" name="message_text" placeholder="Write your message here" autocomplete="off">

        <button type="button" class="Message_File_Button" id="files-toggle">
            <img src="{% static 'images/FilesIcon.png' %}" loading="lazy">
        </button>

        <button class="Primary_Button" type="submit">Send</button>
    </form>

    <div class="Files_Dropdown" id="files-dropdown">
        <button type="button" id="choose-media-button">
            <img src="{% static 'images/PhotoIcon.png' %}" loading="lazy">
            Photo or Video
        </button>

        <button type="button" id="choose-document-button">
            <img src="{% static 'images/DocumentIcon.png' %}" loading="lazy">
            Documents
        </button>

        <button type="button" id="create-polls-button">
            <img src="{% static 'images/PollIcon.png' %}" loading="lazy">
            Polls
        </button>
    </div>

</div>
