{% extends 'Base/Base.html' %}
{% load static %}

{% block title %}
    {{ user.name }}'s Profile - Zentro
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="stylesheets/Profiles/Profiles.css">
{% endblock %}

{% block content %}

    <div>

        <form action="" method="post">
            {% csrf_token %}

            <div>
                <h2>Name</h2>
                <input type="text" name="user_name" placeholder="{{ user.name }}">
            </div>

        </form>

    </div>

{% endblock %}