{% extends 'Base/Base.html' %}

{% block title %}Zentro - Sign up{% endblock %}

{% block content %}

    <div>

        <h1>Registration Form</h1>

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        <form action="{% url 'SignUp' %}" method="post">
            {% csrf_token %}

            <div>
                <p>Your username</p>
                <input type="text" name="username" placeholder="Write your username here">
            </div>

            <div>
                <p>Your email</p>
                <input type="email" name="email" placeholder="Write your email here">
            </div>

            <div>
                <p>Your password</p>
                <input type="password" name="password" placeholder="Write your password here">
            </div>

            <div>
                <p>Confirm your password</p>
                <input type="password" name="password2" placeholder="Confirm your password here">
            </div>

            <button type="submit">Confirm</button>

        </form>

        <p>
            Already have an account? <a href="{% url 'SignIn' %}" target="_self">Sign in</a>
        </p>

    </div>

{% endblock %}